body {
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

h1 {
  font-size: 15vw;
  background-image: url(https://unsplash.it/800);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
